      <!-- Page Footer -->
      <footer class="footer">
        <div class="container">
            <div class="row mb-2" class="footer-google-inc">© 2020-2024 Google LLC</div>
            <div class="row mb-3">
              <small>
                <!-- This website is hosted for demo purposes only. It is not an
                actual bank. This is not an official Google project. -->
                GR3 BANK project is a revamp of the Bank of Anthos, intended solely for educational purposes. Please note: This website is a demonstration and not a real banking service. It is not an official Google project.
              </small>
            </div>
        </div>
      </footer>
